.login, .register {
  margin: 100px 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &-form {
    text-align: center;
    font-size: 24px;
    border: 1px solid #ddd;
    padding: 50px 60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    & h2 {
      margin-bottom: 25px;
    }
    &__input {
      width: 250px;
      padding: 10px 20px;
      font-size: 16px;
    }
    &__btn {
      margin-top: 10px;
      padding: 20px 40px;
      border-radius: 45px;
      font-size: 20px;
      font-weight: 600;
      background-color: #4A56E2;
    }
  }
  & p {
    font-size: 16px;
  }
}
