.answers {
  margin: 60px 0;
  &-row {
    margin: 0;
  }
  &__item {
    --ant-display: auto;
    &--log {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin: 10px 0;
      &-title {
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
}
